.p- {

  &action {
    text-align: -webkit-center;
    margin: 4.8rem 0;

    &__btn {
      background: transparent linear-gradient(133deg, #9AC340 0%, #02A1A2 100%) 0% 0% no-repeat padding-box;
      box-shadow: 1px 3px 4px #00000029;
      border: 2px solid #FFFFFF;
      border-radius: 4.0rem;
      padding: 1rem 2rem 1rem 2rem;
      margin: 0 1.6rem;
      font: 600 1.5rem/3.2rem YuGothic;
      letter-spacing: 1.5px;
      color: #F9FAF7;
      text-shadow: 0px 0px 6px #00000029;
      height: 5.2rem;
      cursor: pointer;
      display: inline-block;
    }
  }

  &application {
    margin-top: 40px;
    text-align: -webkit-center;
    background-color: #EFF2ED;
    padding: 1.6rem;

    &__title {
      text-align: left;
      font-size: 1.6rem;
      font-weight: bold;
      letter-spacing: 1.6px;
      color: #394829;
      padding-bottom: 1.6rem;
    }

    &__text {
      text-align: left;
      font-size: 1.6rem;
      font-weight: medium;
      letter-spacing: 1.6px;
      color: #394829;
    }
  }

  &file {
    margin-top: 1.6rem;
    text-align: -webkit-center;
    padding: 1.6rem;

    &__title {
      text-align: left;
      font: 500 1.6rem/3rem YuGothic;
      letter-spacing: 1.6px;
      color: #394829;
      padding-bottom: 1.6rem;
    }

    &__text {
      text-align: left;
      font-size: 1.6rem;
      font-weight: medium;
      letter-spacing: 1.6px;
      color: #394829;
    }
  }

  &heading {
    text-align: -webkit-center;
    background-color: #EFF2ED;
    padding-top: 4rem;
    padding-bottom: 4.0rem;
  }

  &privacy {
    text-align: -webkit-center;
    background-color: #EFF2ED;
    margin: 4rem 0;
    padding: 1.6rem;

    &__title {
      text-align: left;
      font-size: 1.6rem;
      font-weight: bold;
      letter-spacing: 1.6px;
      color: #394829;
      padding-bottom: 1.6rem;
    }

    &__text {
      text-align: left;
      font-size: 1.6rem;
      font-weight: medium;
      letter-spacing: 1.6px;
      color: #394829;
    }
  }

  &center-block {
    display: block;
    margin: 0 auto;
  }

  &contact-title {
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 2px;
    color: #394829;;
    margin-bottom: 25px;
  }

  &hero {
    position: relative;
    &__title {
      display: block;
      position: absolute;
      bottom: 1rem;
      left: 50%;
      transform: translateX(-50%);
    }
    .hero-pc, .hero-sp {
      width: 100%;
      height: auto;
    }
    .hero-pc {
      @include mq('sm') {
        display: none;
      }
    }
    .hero-sp {
      display: none;
      @include mq('sm') {
        display: block;
      }
    }
    @include mq('md') {
      .c-logo {
        display: none;
      }
    }

  }

  &feature {
    @include mq('sm') {
      padding: 0 15px;
    }
    &__item {
      width: 70%;
      border-bottom: 1px solid #0D5D4B;
      padding: 15px 0;
      display: block;
      @include mq('sm') {
        width: 85%;
      }
      @include mq('xs') {
        width: 100%;
      }

      p {
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 1.6px;
        color: #394829;
        @include mq('sm') {
          letter-spacing: 1.5px;
          font-size: 15px;
        }
      }

      span {
        text-align: left;
        font-size: 26px;
        font-weight: 500;
        letter-spacing: 2.6px;
        color: #394829;
        @include mq('sm') {
          font-size: 20px;
        }
      }

      &--right {
        p {
          text-align: left;
        }
        margin-left: auto;
        @include mq('sm') {
          margin-left: 0;
          margin-right: auto;
        }
      }

      &--left {
        p {
          text-align: left;
          width: 320px;
          display: block;
          margin-left: auto;

          @include mq('sm') {
            width: 100%;
          }
        }
        margin-right: auto;
        text-align: right;

        @include mq('sm') {
          margin-left: auto;
          margin-right: 0;
        }
      }
    }
    
  }

  &service {
    position: relative;
    height: 821px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:  center center;
    margin:5rem 0;
    padding: 0 15px;
    z-index: -2;

    @include mq('md') {
      height: 100%;
      padding-bottom: 6rem;
    }

    &__bg {
      background: transparent linear-gradient(180deg, #5A6E2E 0%, #004B4B 100%) 0% 0% no-repeat padding-box;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0.9;
      z-index: -1;
    }

    &__detail {
      text-align: left;
      font-size: 20px;
      font-weight: 500;
      letter-spacing: 2px;
      color: #F9FAF7;
      opacity: 1;
      display: block;
      margin: 0 auto;
      padding: 6rem 0 5rem;
      width: 770px;
      @include mq('lg') {
        font-size: 16px;
        letter-spacing: 1.62px;
        width: 100%;
      }
    }
    &__arrow-down {
      width: 0; 
      height: 0; 
      border-left: 55px solid transparent;
      border-right: 55px solid transparent;
      
      border-top: 30px solid #F9FAF7;
    }
  }

  &benefit {
    width: 965px;
    height: 164px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
    display: grid;
    grid-template-columns: 20% 80%; 
    margin: 1rem auto;  
    @include mq('lg') {
      width: 100%;
    }
    @include mq('md') {
      height: 95px;
    }

    &__no { 
      display: flex;
      align-items: center;
      justify-content: center;
      p {
        font-size: 15px;
        letter-spacing: 1.5px;
        color: #0D5D4B;
        line-height: 40px;
        @include mq('md') {
          font-size: 9px;
          letter-spacing: 0.9px;
          line-height: 25px;
        }
      }
      p > span {
        font-size: 60px;
        letter-spacing: 6px;
        color: #0D5D4B;
        @include mq('md') {
          font-size: 36px;
          letter-spacing: 3.6px;
        }
      }
    }

    &__detail {
      font-size: 26px;
      letter-spacing: 2.6px;
      color: #394829;
      text-align: left;
      margin: auto 0;
      @include mq('md') {
        font-size: 16px;
        letter-spacing: 1.6px;
        padding-right: 15px;
      }
    }

    &__underline {
      text-decoration: underline;
      text-decoration-color: #B6D86A;
    }
  }

  &coaching {
    display: block;
    margin: 0 auto;
    padding: 0 15px;
    @include mq('md') {
      .l-logo {
        width: 29px;
        height: 39px;
      }
    }

    &__title {
      text-align: center;
      font-size: 26px;
      font-weight: 500;
      letter-spacing: 2.6px;
      color: #0D5D4B;
      text-align: center;
      margin: 19px 0 49px; 
      @include mq('md') {
        font-size: 20px;
        letter-spacing: 2px;
        margin: 19px 0 16px;
      }
    }

    &__detail {
      text-align: left;
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 1.6px;
      color: #212121;
      margin: 0 auto 10rem;
      width: 770px;
      display: block;
      line-height: 1.8;
      @include mq('lg') {
        width: 100%;        
      }
      @include mq('md') {
        font-size: 15px;
        letter-spacing: 1.5px;
        margin: 0 auto 6rem;
      }
      &--bold {
        font-size: 17px;
        font-weight: bold;
        letter-spacing: 1.7px;
        color: #0D5D4B;
        @include mq('md') {
          font-size: 15px;
          letter-spacing: 1.5px;
        }
      }
    }

    &__item {
      display: grid;
      grid-template-columns: 50% 50%;
      position: relative;
      margin: 6rem 0;
      @include mq('xl') {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }

      &-img {
        z-index: 2;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 540px;
        @include mq('lg') {
          width: 276px;
          height: 173px;
        }
      }

      &-bg {
        background: transparent linear-gradient(180deg, #5A6E2E 0%, #004B4B 100%) 0% 0% no-repeat padding-box;
        width: 519px;
        height: 303px;
        z-index: 1;
        display: block;
        margin: auto;
        @include mq('lg') {
          width: 250px;
          height: 150px;
        }
      }

      &-visual {
        position: relative;
        @include mq('xl') {
          margin: 3rem 15px 0 auto;
          justify-self: end;
        }
        @include mq('lg') {
          order: 2;
        }
      }

      &-title {
        text-align: left;
        font-size: 26px;
        font-weight: 500;
        letter-spacing: 2.6px;
        color: #394829;
        padding: 15px 0;
        border-bottom: 1px solid #394829;
        @include mq('md') {
          font-size: 20px;
          letter-spacing: 2px;
        }
      }

      &-details {
        display: grid;
        grid-template-columns: 50px 60px auto;
        align-items: center;
        margin: 2rem 0;

        img {
          margin-left: 10px;
        }
      }

      &-line {
        border-top: 1px solid #394829;
        height: 0;
      }

      &-text {
        text-align: left;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 1.6px;
        color: #394829;
        @include mq('md') {
          font-size: 15px;
          letter-spacing: 1.5px;
        }
      }

      &-vtext {
        width: 570px;
        @include mq('xl') {
          width: 40%;
          margin: 0 auto;
        }
        @include mq('lg') {
          width: 100%;
        }

        &--end {
          justify-self: end;
        }
      }
    }
  }

  &experience {
    padding: 0 15px;

    @include mq('md') {
      .l-logo {
        width: 29px;
        height: 39px;
      }
    }
    &__title {
      text-align: center;
      font-size: 26px;
      font-weight: 500;
      letter-spacing: 2.6px;
      color: #0D5D4B;
      text-align: center;
      margin: 2rem 0 10px; 
      @include mq('md') {
        font-size: 20px;
        letter-spacing: 2px;
        margin: 19px 0 16px;
      }
    }
    &__subtitle {
      text-align: center;
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 1.6px;
      color: #394829;
      margin: 4.5rem 0 4rem;
      @include mq('md') {
        font-size: 15px;
        letter-spacing: 1.5px;
      }
    }
  }

  &testimonial {
    background: #EFF2ED 0% 0% no-repeat padding-box;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 85%;
    padding: 6rem 5rem 4rem;

    @include mq('sm') {
      padding: 2rem 1.5rem;
    }
  
    &__info {
      &-title {
        text-align: left;
        font-size: 26px;
        font-weight: 500;
        letter-spacing: 2.6px;
        color: #394829;
        @include mq('sm') {
          font-size: 20px;
          letter-spacing: 2px;
        }
      }

      &-content {
        text-align: left;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 1.6px; 
        color: #394829;
        @include mq('sm') {
          font-size: 15px;
          letter-spacing: 1.5px;
        }
      }

      &-link {
        text-align: left;
        text-decoration: underline;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 1.6px;
        color: #095389;
      }
      @include mq('md') {
        width: 100%;
      }
    }

    &__table {
      border-left: 1px solid #687262;
      padding-left: 2rem;

      @include mq('md') {
        border: 0;
        margin: 3rem 0;
        width: 100%;
        padding-right: 2rem;
      }
      @include mq('sm') {
        padding: 0;
      }

      table {
        max-width: 500px;
        width: 100%;
        @include mq('md') {
          max-width: 100%;
        }
        @include mq('sm') {
          width: 100%;
        }
      }
      thead {
        border-bottom: 1px solid #0D5D4B;
      }
      th {
        text-align: right;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 1.6px;
        color: #0D5D4B;
        text-transform: uppercase;
      }
      tr {
        td {
          font-size: 16px;
          font-weight: 500;
          letter-spacing: 1.6px;
          color: #394829;
          padding: 5px 0;
          @include mq('sm') {
            font-size: 15px;
            letter-spacing: 1.5px;
          }
        }
  
        td:nth-child(1) {
          width: 40%;
          text-align: left;
        }
        td:nth-child(2) {
          width: 30%;
          text-align: right;
        }
        td:nth-child(3) {
          width: 30%;
          text-align: right;
          font-size: 16px;
          font-weight: bold;
          letter-spacing: 1.6px;
          color: #0D5D4B;
          @include mq('sm') {
            font-size: 15px;
            letter-spacing: 1.5px;
          }
        }
      }
    }

    &__profile {
      background: #F9FAF7 0% 0% no-repeat padding-box;
      border-radius: 8px;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: inherit;
      padding: 32px 50px;
      margin-top: 4rem;
      
      @include mq('lg') {
        justify-content: space-between;
      }

      @include mq('md') {
        padding: 3rem 2rem;
      }

      &-title {
        text-align: left;
        font-size: 36px;
        font-weight: 500;
        letter-spacing: 3.6px;
        color: #394829;
        opacity: 0.2;

        @include mq('md') {
          font-size: 18px;
          letter-spacing: 1.8px;
        }
      }
      
      &-subtitle {
        text-align: left;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 1 .6px;
        color: #394829;

        @include mq('md') {
          font-size: 15px;
          letter-spacing: 1.5px;
        }
      }

      &-details {
        text-align: left;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 1.6px;
        color: #394829;
        width: 50%;
        @include mq('lg') {
          width: 100%;
        }
      }
      
      img {
        margin-bottom: 2rem;
      }
    }

  }

  &flex__center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    &-mtb4 {
      margin: 4rem 0;
    }
  }

  &three__feature {
    background: transparent linear-gradient(180deg, #5A6E2E 0%, #004B4B 100%) 0% 0% no-repeat padding-box;    
    padding: 5rem 10rem;
    margin: 8rem 0 4rem;

    @include mq('md') {
      padding: 6rem 1.5rem 1rem;
    }
    &-title {
      text-align: center;
      font-size: 26px;
      font-weight: 500;
      letter-spacing: 2.6px;
      color: #F9FAF7;
      border-bottom: 1px solid #F9FAF7;
      padding: 15px 3rem;
      width: 500px;
      text-align: center;
      margin: 0 auto;

      @include mq('md') {
        font-size: 20px;
        letter-spacing: 2px;
        width: 100%;
        padding: 0;
      }
    }

    &-item {
      display: grid;
      grid-template-columns: auto auto;
      grid-column-gap: 15px;
      padding-bottom: 4rem;
      border-bottom: 1px solid #F9FAF7;

      @include mq('xl') {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
      }

      &--three {
        border: 0;
      }
      
      &-title {
        position: relative;
        height: 200px;
        
        &--one {
          height: 200px;
          @include mq('md') {
            height: 130px;
          }
        }
        &--two {
          height: 270px;
          @include mq('xxl') {
            height: 410px;
          }
          @include mq('md') {
            height: 175px;
          }
        }
        &--three {
          height: 290px;
          @include mq('xxl') {
            height: 410px;
          }
          @include mq('md') {
            height: 165px;
          }
          @include mq('xs') {
            height: 180px;
          }
        }
      }
      &-text {
        text-align: left;
        font-size: 74px;
        font-weight: bold;
        letter-spacing: 2.22px;
        color: #F9FAF7;
        z-index: 2;
        align-self: center;
        line-height: 1;
        position: absolute;
        top: 112px;
        left: 0;

        @include mq('md') {
          font-size: 38px;
          letter-spacing: 1.4px;
          top: 60px;
        }

        .xs {
          text-align: left;
          font-size: 51px;
          font-weight: bold;
          letter-spacing: -5.1px;
          color: #F9FAF7;
          z-index: 2;
          @include mq('md') {
            font-size: 26px;
            letter-spacing: 0.5px;
          }
        }
        .ms {
          text-align: left;
          font-size: 55px;
          font-weight: bold;
          color: #F9FAF7;
          z-index: 2;
          @include mq('md') {
            font-size: 28px;
            letter-spacing: 0.8px;
          }
        }

        .small {
          text-align: left;
          font-size: 45px;
          font-weight: bold;
          letter-spacing: -2.7px;
          color: #F9FAF7; 
          @include mq('md') {
            font-size: 22px;
          }
        }
        .medium {
          text-align: left;
          font-size: 61px;
          font-weight: bold;
          letter-spacing: 1.83px;
          color: #F9FAF7; 
          @include mq('md') {
            font-size: 29px;
            letter-spacing: 0.5px;
          }
        }

        .large {
          text-align: left;
          font-size: 66px;
          font-weight: bold;
          letter-spacing: 6px;
          color: #F9FAF7; 
          @include mq('md') {
            font-size: 29px;
            letter-spacing: -3px;
          }
        }
        .fs39 {
          text-align: left;
          font-size: 39px;
          font-weight: bold;
          letter-spacing: 1.17px;
          color: #F9FAF7; 
          @include mq('md') {
            font-size: 20px;
            letter-spacing: 0.6px;
          }
        } 
        .fs33 {
          text-align: left;
          font-size: 33px;
          font-weight: bold;
          letter-spacing: 0.99px;
          color: #F9FAF7; 
          @include mq('md') {
            font-size: 17px;
            letter-spacing: 0.5px;
          }
        } 
        .fs24 {
          text-align: right;
          font-size: 24px;
          font-weight: bold;
          letter-spacing: 0.72px;
          color: #F9FAF7; 
          display: block;
          @include mq('md') {
            font-size: 12px;
            letter-spacing: 0.3px;
          }
        } 
      }

      &-no {
        text-align: center;
        font-size: 183px;
        font-weight: bold;
        font-style: italic;
        letter-spacing: 18.3px;
        color: #F9FAF7;
        opacity: 0.2;
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;

        @include mq('md') {
          font-size: 95px;
          letter-spacing: 9.5px;
        }
      }

      &-content {
        font-size: 16px;
        font-weight: 500;
        color: #F9FAF7;
      }

      &-img {
        align-self: flex-end;
        width: 450px;
        height: auto;

        @include mq('xl') {
          order: 2;
          margin: 2rem 0;
        }

        @include mq('md') {
          width: 100%;
        }
      }
    }
  }

  &service_detail {
    padding: 0 15px;

    &__title {
      text-align: center;
      font-size: 26px;
      font-weight: 500;
      letter-spacing: 2.6px;
      color: #0D5D4B;

      @include mq('md') {
        font-size: 20px;
        letter-spacing: 2px;
      }
    }

    &__subtitle-con {
      text-align: center;
      font-size: 16px;
      font-weight: bold;
      letter-spacing: 1.6px;
      color: #0D5D4B;
      height: 50px;
      line-height: 50px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      .line {
        height: 1px;
        width: 52px;
        background: #0D5D4B;
        display: inline-block;
        align-self: center;
        margin: 0 1rem;
      }
    }

    &__subtitle{
      text-align: center;
      font-size: 16px;
      font-weight: bold;
      letter-spacing: 1.6px;
      color: #0D5D4B;
      display: inline-block;
      align-self: center;
      @include mq('md') {
        font-size: 13px;
        letter-spacing: 1.3px;
      }
    }

    &__details {
      text-align: left;
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 1.6px;
      color: #394829;
      width: 770px;
      display: block;
      margin: 2rem auto;
      @include mq('lg') {
        width: 100%;
      }
    }

    &__title2 {
      text-align: center;
      font-size: 18px;
      font-weight: 500;
      letter-spacing: 1.8px;
      color: #394829;
      width: 570px;
      display: block;
      margin: 0 auto;
      border-bottom:  1px solid;

      @include mq('md') {
        font-size: 16px;
        letter-spacing: 1.6px;
        width: 100%;
        margin: 0;
      }
    }

    &__info {
      margin: 4rem 2rem;
      width: 30%;

      @include mq('md') {
        width: 40%;
        margin: 3rem 0;
      }

      @include mq('sm') {
        width: 100%;
      }
      &-con {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        @include mq('md') {
          justify-content: space-around;
        }
      }
      &-title {
        text-align: center;
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 1.6px;
        color: #0D5D4B;
      }

      &-card {
        height: 158px;
        border: 1px solid #0D5D4B;    
        padding: 24px;   
        margin-top: 16px;

        @include mq('sm') {
          height: auto;
        }
        
        &-content {
          text-align: left;
          font-size: 16px;
          font-weight: 500;
          letter-spacing: 1.6px;
          color: #394829;
        }
      }
    }
  }
}