/* ------------------------------------------------------------
  variables
------------------------------------------------------------ */

// breakpoints
$breakpoint-xs: 370px !default;
$breakpoint-sm: 576px !default;
$breakpoint-md: 768px !default;
$breakpoint-lg: 992px !default;
$breakpoint-xl: 1200px !default;
$breakpoint-xxl: 1490px !default;
$breakpoints: (
  'xs': 'screen and (max-width: #{$breakpoint-xs})',
  'sm': 'screen and (max-width: #{$breakpoint-sm})',
  'md': 'screen and (max-width: #{$breakpoint-md})',
  'lg': 'screen and (max-width: #{$breakpoint-lg})',
  'xl': 'screen and (max-width: #{$breakpoint-xl})',
  'xxl': 'screen and (max-width: #{$breakpoint-xxl})',
) !default;

//for android
@font-face {
  font-family: "MINCHO"; src: url("../fonts/ipaexm.eot?") format('eot'), url("../fonts/ipaexm.woff") format('woff');
}
