@import '../../helper/mixin';

.c- {
  &button__round {
    background: transparent linear-gradient(133deg, #E3A211 0%, #E53859 100%) 0% 0% no-repeat padding-box;
    box-sizing: border-box;
    box-shadow: 1px 3px 4px #07030329;
    border: 2px solid #FFFFFF;
    border-radius: 4.0rem;
    color: #F9FAF7;
    font-family: Yu Gothic;
    font-weight: 600;
    font-size: 1.5rem;
    letter-spacing: 1.5px;
    text-align: center;
    text-shadow: 0px 0px 6px #00000029;
    min-height: 7rem;
    padding: 1.3rem 1.7rem;

    &__upload {
      width: 100%;
      max-width: 57rem;
      margin: 5rem auto;
    }

    &.contact {
      &_confirm {
        width: 100%;
        max-width: 57rem;
      }

      &_submit {
        width: 100%;
        max-width: 57rem;
      }
    }

    &__top_page {
      font-size: 2.2rem;
      letter-spacing: 2.2px;

      @include mq('sm') {
        font-size: 1.5rem;
        letter-spacing: 1.5px;
      }
    }
  }

  &button__default {
    display: block;
    background: #687262;
    border-radius: 5px;
    box-shadow: 1px 3px 4px #00000029 !important;
    color: #F9FAF7;
    min-height: 5rem;
    font-weight: 600;
    font-size: 1.6rem;
    letter-spacing: 1.6px;
    text-align: center;
    box-sizing: border-box;

    &__upload {
      line-height: 5rem;
      max-width: 20rem;
      margin: 1.8rem auto;

      @include mq('md') {
        max-width: 40rem;
      }
    }

    &__remove {
      max-width: 20rem;
      margin: 1.8rem auto;
    }

    &.contact {
      &_back {
        width: 100%;
        max-width: 20rem;
        margin: 1.8rem auto;
      }
    }
  }

  &head {
    &__button {
      margin-bottom: 4rem;
    }
  }

  &finance {
    width: 100%;
    margin-top: 3.2rem;

    &.top_page {
      margin-top: 5px;
    }

    &__title {
      max-width: 20rem;
      height: 6.7rem;
      font-family: Source Han Serif;
      font-weight: 500;
      font-size: 2rem;
      line-height: 3.8rem;
      letter-spacing: 2px;
      text-align: center;
      color: #212121;

      @include mq('sm') {
        font-size: 2rem;
      }

      &.top_page {
        font-family: Source Han Serif;
        font-weight: 500;
        font-size: 2.6rem;
        line-height: 3.9rem;
        letter-spacing: 2.6px;
        color: #394829;
        width: unset;

        @include mq('sm') {
          font-size: 2rem;
          line-height: 3.8rem;
          letter-spacing: 2px;
          width: 21rem;
          color: #212121;
          margin-top: 2.2rem;
        }
      }
    }

    &__tax {
      color: #0D5D4B;
      font-size: 1.3rem;
      font-family: Yu Gothic;
      font-weight: 500;
      line-height: 2.4rem;
      letter-spacing: 1.3px;

      &.top_page {
        font-size: 1.6rem;
        line-height: 3.2rem;
        letter-spacing: 1.6px;
        margin-bottom: 2.3rem;

        @include mq('sm') {
          font-size: 1.3rem;
          line-height: 2.4rem;
          letter-spacing: 1.3px;
          margin: 0.4rem auto 1.7rem;
        }
      }
    }

    &__cost {
      color: #0D5D4B;
      font-size: 4rem;
      font-family: Source Han Serif;
      font-weight: 500;
      line-height: 6.2rem;
      letter-spacing: 4.1px;

      &.top_page {
        font-size: 5.3rem;
        line-height: 8rem;
        letter-spacing: 5.3px;
        margin-left: 7.4rem;

        @include mq('sm') {
          font-size: 4rem;
          line-height: 6.2rem;
          letter-spacing: 4.7px;
          margin-left: 2rem;
        }
      }
    }
  }

  &staff {
    &__img {
      width: 132px;
      height: 131px;

      @include mq('sm') {
        width: 97px;
        height: 96px;
      }

      &.--margin-middle {
        margin: 0 2px;

        &__top_page {
          margin: 0 5px;

          @include mq('sm') {
            margin: 0 2px;
          }
        }
      }
    }
  }

  &file {

    &__content {
      margin-top: 1.6rem;
      text-align: left;
      display: flex;
      flex-wrap: wrap;
    }

    &__delete {
      margin: 1.6rem auto;
    }

    &__icon {
      text-align: left;
      max-width: 2.7rem;
      max-height: 3rem;
      padding-right: 3.5px;
    }

    &__name {
      margin-left: 3.5px;
      font-weight: 600;
      font-size: 1.6rem;
      line-height: 3.2rem;
      letter-spacing: 1.6px;
      color: #394829;
    }

    &__size {
      margin-top: -1rem;
      font-weight: 500;
      font-size: 1.5rem;
      line-height: 3rem;
      letter-spacing: 1.5px;
      color: #394829;
    }

    &__type {
      text-align: left;
      font-weight: 500;
      font-size: 1.5rem;
      line-height: 2.2rem;
      letter-spacing: 1.5px;
      color: #D86A83;
    }

    &__sent {
      width: 220px;
      height: 126px;
    }

    &__success {
      text-align: center;
      font-weight: 600;
      font-size: 1.5rem;
      line-height: 3rem;
      letter-spacing: 1.5px;
      color: #394829;
      margin-top: 2rem;
      margin-bottom: -3rem;

      @include mq('md') {
        max-width: 20rem;
      }
    }

    &__select {
      width: 40px;
      height: 52px;
      display: block;
      margin: 3rem auto;
    }

    &__text {
      text-align: center;
      font-weight: 600;
      font-size: 1.8rem;
      line-height: 3.2rem;
      letter-spacing: 1.8px;
      color: #687262;
    }

    &__upload {
      margin-bottom: 5rem !important;
      border: 2px dashed rgba(57, 72, 41, 0.5) !important;
      background: #EFF2ED 0% 0% no-repeat padding-box;
    }
  }

  &progress {
    overflow: hidden;
    width: 50rem;
    display: flex;
    position: relative;
    align-items: center;

    &__bar {
      background: rgba(0, 0, 0, 0.075);
      border-radius: 1rem;
      min-width: 30rem;
    }

    &__load {
      border-radius: 1rem;
      padding: 4px 0;
      width: 0%;
    }

    &__count {
      text-align: left;
      font-weight: 600;
      font-size: 1.2rem;
      letter-spacing: 1.2px;
      color: #394829;
      margin: auto;
    }
  }

  &fab {
    display: none;
    position: fixed;
    bottom: 9vh;
    right: 5rem;
    z-index: 2;
    border: 1px solid #C4CCBB;
    padding: 3px 10px;
    border-radius: 5px;
    box-shadow: inset 0px -1px 0.2px 0.3px grey;

    @include mq('md') {
      right: 20px;
    }
  }

  &logo {
    position: absolute;
    top: 41px;
    left: 56px;
    width: 46px;
    height: 46px;
  }
}

// wordpress plugins custom design
// wp_form
.wpcf7 {
  width: 770px;
  display: block;
  margin: 0 auto !important;
  box-sizing: border-box;

  @include mq('md') {
    width: 95%;
    box-sizing: border-box;
  }

  &__title {
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 2px;
    text-align: center;
    color: #394829;

    @include mq('md') {
      font-size: 20px;
      width: 200px;
    }
  }
}

// drag and drop
.dnd {
  &-icon-blank-file {
    font-size: 1.5rem !important;
  }

  &-progress-bar {
    display: inline-flex !important;
    height: 1rem !important;
    margin: 1rem 4rem 1rem 0;
    min-width: 50rem;

    @include mq('md') {
      margin: 1rem 0;
      display: block !important;
      min-width: unset;
    }

    .complete {
      line-height: 1rem !important;
    }
  }

  &-upload {
    &-status {
      padding: unset !important;
      border-bottom: 0.5px solid #C4CCBB;
      margin-bottom: 1rem;
    }

    &-image {
      align-self: start;
      width: 3rem !important;
      height: 3rem !important;
    }

    &-details {
      text-align: left;
      padding: unset !important;
      font-family: Yu Gothic;
      font-size: 1.6rem;
      line-height: 2rem;
      letter-spacing: 1.6px;

      .name {
        margin-left: 1rem;
        font-weight: 600;
        padding: 0 !important;
        color: #394829 !important;

        em {
          font-weight: 500 !important;
          display: block;
        }
      }

      .remove-file {
        display: inline-block;
        text-align: center;
        position: unset !important;
        right: unset !important;
        top: unset !important;
        min-width: 20rem;

        @include mq('md') {
          display: block;
          margin-left: -3px;
        }

        span {
          line-height: 5rem;
        }
      }
    }
  }
}

// component form input types
input[type=text],
input[type=email],
input[type=tel] {
  width: 100%;
  height: 48px;
  border: 1px solid #C4CCBB;
  border-radius: 3px;
  background: #F9FAF7;
  color: #394829;
  font-size: 16px;
  padding-left: 15px;
  box-sizing: border-box;
  margin-top: 10px;
}

label {
  text-align: left;
  font-size: 15px;
  font-weight: medium;
  letter-spacing: 1.5px;
  color: #394829;
  display: block;
}

//specific elements styling with these IDs

#top-link {
  margin-top: 5rem;
}

#pcFileUpload,
#spFileUpload {
  margin-top: 2rem;
}

#spFileUpload {
  display: none;

  .codedropz- {
    &upload-container {
      padding: 0 !important;
    }
  }

  .c-file {

    &__upload {
      border: none !important;
      background: none !important;

      span {
        display: none;
      }
    }

    &__select {
      display: none;
    }
  }
}
