.p- {
  &application {
    margin: 4rem auto;
    text-align: -webkit-center;
    background-color: #EFF2ED;
    padding: 2.5rem 3.6rem 3rem;
    max-width: 77rem;

    @include mq('md') {
      padding: 1.6rem;
    }

    &__title {
      text-align: left;
      font-size: 1.6rem;
      font-weight: 600;
      letter-spacing: 1.6px;
      color: #394829;
      padding-bottom: 1.4rem;
    }

    &__text {
      text-align: left;
      font-family: Yu Gothic;
      font-weight: 500;
      font-size: 1.6rem;
      line-height: 3.2rem;
      letter-spacing: 1.6px;
      color: #394829;
    }
  }
}
