.p- {
  &benefit {
    &-con {
      margin: 7rem 0 20rem;
    }

    max-width: 1090px;
    width: 100%;
    opacity: 1;
    display: flex;
    justify-content: start;
    margin: 3rem auto 3rem;
    padding: 0 2rem;

    @include mq('md') {
      margin-bottom: 7rem;
      justify-content: center;
      flex-wrap: wrap;
    }

    &__division {
      display: flex;
      width: 100%;
    }

    &__img-no {
      width: 155px;
      height: 181px;
      align-self: center;
      @include mq('md') {
        width: 90px;
        height: 100px;
      }
    }

    &__img-visual {
      align-self: flex-end;
      width: auto;
      @include mq('md') {
        width: 180px;
        height: auto;
      }
    }

    &__no {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 2rem;

      @include mq('sm') {
        margin-left: 0;
      }

      p {
        font-size: 15px;
        letter-spacing: 1.5px;
        color: #0D5D4B;
        line-height: 40px;

        @include mq('md') {
          font-size: 9px;
          letter-spacing: 0.9px;
          line-height: 25px;
        }
      }

      p>span {
        font-size: 60px;
        letter-spacing: 6px;
        color: #0D5D4B;

        @include mq('md') {
          font-size: 36px;
          letter-spacing: 3.6px;
        }
      }
    }

    &__detail {
      font-size: 26px;
      letter-spacing: 2.6px;
      color: #394829;
      text-align: left;
      margin: auto 0;
      align-self: center;
      margin: 6rem 2rem 0;
      line-height: 2;

      @include mq('sm') {
        margin-left: 2rem;
      }

      @include mq('md') {
        font-size: 15px;
        letter-spacing: 1.6px;
        margin: 2rem 0 2rem 2rem;
      }
    }

    &__underline {
      color: #0D5D4B;
      border-bottom: 1px solid #B6D86A;
      font-weight: normal;

      &--bold {
        font-weight: bolder;
      }
    }
  }
}
