.p- {
  &benefit {
    &-con {
      margin: 7rem 0;
    }
    max-width: 1090px;
    width: 100%;
    opacity: 1;
    display: flex;
    justify-content: start;
    margin: 3rem auto 3rem;
    padding: 0 2rem;

    @include cq(680px) {
      flex-wrap: wrap;
      justify-content: center;
    }

    @include mq('md') {
      margin-bottom: 7rem;
    }

    &__img-visual {
      object-fit: contain;
    }

    &__no {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 2rem;

      @include mq('sm') {
        margin-left: 0;
      }

      p {
        font-size: 15px;
        letter-spacing: 1.5px;
        color: #0D5D4B;
        line-height: 40px;

        @include mq('md') {
          font-size: 9px;
          letter-spacing: 0.9px;
          line-height: 25px;
        }
      }

      p>span {
        font-size: 60px;
        letter-spacing: 6px;
        color: #0D5D4B;

        @include mq('md') {
          font-size: 36px;
          letter-spacing: 3.6px;
        }
      }
    }

    &__detail {
      font-size: 26px;
      letter-spacing: 2.6px;
      color: #394829;
      text-align: left;
      margin: auto 0;
      align-self: center;
      margin: 6rem 2rem 0;
      line-height: 2;

      @include mq('sm') {
        margin-left: 2rem;
      }

      @include mq('md') {
        font-size: 22px;
        letter-spacing: 1.6px;
        margin: 2rem 0;
      }
    }

    &__underline {
      color: #0D5D4B;
    }
  }
}
