.p- {
  &feature {
    &__title {
      max-width: 100%;
      display: inline-block;
      margin-bottom: 30px;
      // width: 100%;

      // &.is-first {
      //   max-width: 400px;
      // }
    }

    @include mq('sm') {
      padding: 0 15px;
    }

    &__item {
      border-bottom: 1px solid #0D5D4B;
      padding: 20px 0;
      display: block;
      width: 70%;

      @include mq('xs') {
        padding: 30px 0 15px 0;
        // width: calc(100% - 570px / 2);
      }

      @include mq('sm') {
        br {
          display: none;
        }
      }

      p {

        font-size: 16px;
        letter-spacing: 1.6px;
        color: #394829;

        @include mq('sm') {
          letter-spacing: 1.5px;
          font-size: 15px;
        }

        @include mq('xs') {
          font-size: 14px;
        }
      }

      span {
        text-align: left;
        font-size: 26px;
        font-weight: 500;
        letter-spacing: 2.6px;
        color: #394829;

        @include mq('sm') {
          font-size: 20px;
        }
      }

      &--right {
        margin-left: auto;

        @include mq('sm') {
          margin-left: 0;
          margin-right: auto;
        }

        p {
          text-align: left;
        }
      }

      &--left {
        margin-right: auto;
        text-align: right;

        @include mq('sm') {
          margin-left: auto;
          margin-right: 0;
        }

        p {
          text-align: left;
          width: 320px;
          display: block;
          margin-left: auto;

          @include mq('sm') {
            width: 100%;
          }
        }
      }
    }
  }
}
