.p- {
  &financial_sample {
    padding: 0 1.5rem;
    margin-top: 20rem;

    @include mq('md') {
      margin-top: 10rem;
    }

    img {
      max-width: 100%;
      height: auto;
    }

    &__inner {
      position: relative;
      z-index: 2;
      background: transparent linear-gradient(180deg, #5A6E2E 0%, #004B4B 100%) 0% 0% no-repeat padding-box;
      color: #ffffff;
      margin-left: auto;
      margin-right: auto;
      max-width: 117rem;
      border-radius: 2rem;
      padding: 3rem;
      padding-top: 4.7rem;

      &::before {
        z-index: 1;
        width: 100%;
        height: 100%;
        position: absolute;
        content: '';
        display: block;
        left: 0;
        top: 0;
        background: url(assets/minified/images/sample-background.png) no-repeat center center / cover;
      }
    }

    &__title {
      text-align: center;
      font-weight: 600;
      letter-spacing: 1.6px;
      font-size: 1.8rem;
      margin: 0 auto 40px auto;
      padding-bottom: 10px;
      border-bottom: 1px solid #ffffff;
      max-width: 57rem;
    }
    &__btn-open {
      position: relative;
      z-index: 2;
      text-align: center;
      padding: 0;
      margin: 0 auto 50px auto;

      &::after {
        cursor: pointer;
        font-weight: bold;
        transform: translateX(-50%);
        border-radius: 30px;
        color: #0D5D4B;
        white-space: nowrap;
        border: 1px solid #0D5D4B;
        left: 50%;
        bottom: 30px;
        padding: 15px 25px;
        position: absolute;
        content: '財務改善診断書を見る';
        transition: .3s;
      }
      &:hover::after {
        color: #ffffff;
        background: #0D5D4B;
      }
    }

    &__content {
      // display: none;
      position: relative;
      z-index: 2;
      text-align: center;
      padding: 0;
      margin: 0 auto 50px auto;
    }

    &__btn-close {
      margin-top: 30px;
      display: inline-block;
      cursor: pointer;
      font-weight: bold;
      border-radius: 30px;
      color:  #fff;
      border: 1px solid  #fff;
      padding: 15px 30px;
      content: '財務改善診断書を見る';
      transition: .3s;

      &:hover {
        color: #0D5D4B;
        background: #fff;
      }
    }
  }
}
