.p- {
  &financial_diagnostic {
    background: transparent linear-gradient(0deg, rgba(181, 216, 105, 0.18) 0%, rgba(0, 182, 183, 0.18) 100%) 0% 0% no-repeat padding-box;
    padding: 7.3rem 7rem 5.7rem;
    margin: 6rem 0 10rem;

    @include mq('md') {
      padding: 5.6rem 1.5rem;
    }

    &__head {
      text-align: left;
      font-weight: 500;
      font-size: 1.6rem;
      line-height: 3.1rem;
      font-family: Yu Gothic;
      letter-spacing: 1.6px;
      color: #394829;
      max-width: 77rem;
      margin: auto;

      @include mq('sm') {
        font-weight: 500;
        font-size: 1.5rem;
        line-height: 3.2rem;
        font-family: Yu Gothic;
        letter-spacing: 1.5px;
      }

      span {
        text-align: left;
        font-weight: 600;
        font-size: 1.7rem;
        line-height: 3.2rem;
        font-family: Yu Gothic;
        letter-spacing: 1.6px;
        color: #0D5D4B;

        @include mq('sm') {
          font-weight: 600;
          font-size: 1.5rem;
          line-height: 3.2rem;
          font-family: Yu Gothic;
          letter-spacing: 1.6px;
        }
      }
    }

    &__body {
      text-align: center;
      font-weight: 500;
      font-size: 2.6rem;
      line-height: 3.9rem;
      font-family: Source Han Serif;
      letter-spacing: 2.6px;
      color: #394829;
      margin: 5.2rem auto 5.7rem;

      @include mq('sm') {
        font-size: 2rem;
        line-height: 3.8rem;
        letter-spacing: 2px;
        color: #212121;
        margin: 2.7rem 0;
      }

      h1 {
        text-align: center;
        font-weight: 500;
        font-size: 6.6rem;
        line-height: 9.9rem;
        font-family: Source Han Serif;
        letter-spacing: 6.6px;
        color: #0D5D4B;
        margin: 1rem auto 2rem 2.8rem;

        @include mq('sm') {
          font-size: 5.5rem;
          line-height: 8.3rem;
          letter-spacing: 5.5px;
          margin: 0.1rem auto 0.2rem;
        }

        span {
          font-weight: 500;
          font-size: 1.6rem;
          line-height: 3.2rem;
          font-family: Yu Gothic;
          letter-spacing: 1.6px;
          color: #0D5D4B;

          @include mq('sm') {
            font-size: 1.2rem;
            line-height: 2.6rem;
            letter-spacing: 1.2px;
          }
        }
      }
    }

    &__feet {
      text-align: left;
      font-weight: 500;
      font-size: 1.4rem;
      line-height: 3.2rem;
      font-family: Yu Gothic;
      letter-spacing: 1.6px;
      color: #394829;
      max-width: 77rem;
      margin: auto;

      @include mq('sm') {
        text-align: center;
        font-weight: 500;
        font-size: 1.5rem;
        line-height: 3.0rem;
        font-family: Yu Gothic;
        letter-spacing: 1.5px;
        color: #212121;
      }
    }
  }
}
