.p- {
  &file {
    margin-top: 1.6rem;
    text-align: -webkit-center;
    padding: 1.6rem 0;

    &__head {
      text-align: left;
      font-family: Yu Gothic;
      font-weight: 500;
      font-size: 1.5rem;
      line-height: 3rem;
      letter-spacing: 1.6px;
      color: #212121;
    }

    &__text {
      text-align: left;
      font-size: 1.6rem;
      font-weight: 500;
      letter-spacing: 1.6px;
      color: #394829;
    }
  }
}
