.p- {
  &required_documents {
    font-family: Yu Gothic;
    text-align: left;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 3.2rem;
    letter-spacing: 1.6px;
    color: #394829;
    max-width: 77rem;
    padding: 0 1.6rem;
    margin: auto;

    &__head {
      text-align: left;
      font-family: Yu Gothic;
      font-weight: 500;
      font-size: 1.6rem;
      line-height: 3rem;
      letter-spacing: 1.6px;
      margin-bottom: 6.9rem;
      color: #394829;

      @include mq('md') {
        text-align: left;
        font-family: Yu Gothic;
        font-size: 1.5rem;
        line-height: 3rem;
        letter-spacing: 1.5px;
        color: #212121;
        margin-bottom: 0;
      }
    }

    &__body {

      &-item {
        font-family: Yu Gothic;
        font-weight: 500;
        line-height: 3.4rem;
        font-size: 1.6rem;
        letter-spacing: 1.6px;
        color: #394829;

        border: 1px solid #394829;
        max-width: 57rem;
        min-height: 4.6rem;
        margin: auto;
        margin-bottom: 2rem;
        padding: 1.2em 2rem 1.2em 11.1rem;
        position: relative;

        @include mq('sm') {
          min-height: 3.8rem;
          margin-bottom: 1rem;
        }

        &::before {
          top: 2.3em;
          left: 23px;
          position: absolute;
          content: '';
          width: 45px;
          display: inline-block;
          border-top: 1px solid #394829;
          height: 0;
        }

        &::after {
          top: 1.85em;
          left: 79px;
          position: absolute;
          content: '';
          width: 45px;
          display: inline-block;
          height: 1em;
          background: url(assets/minified/images/check-symbol.png) no-repeat;
        }
      }
    }

    &__feet {

      &-item {
        text-align: left;
        font-family: Yu Gothic;
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 3.2rem;
        letter-spacing: 1.6px;
        color: #394829;

        margin: auto;
        margin-bottom: 0.8rem;
        max-width: 57rem;
        padding-left: 10rem;
        position: relative;

        @include mq('md') {
          margin-left: 0;
          margin: auto;
        }

        &::before {
          top: 1em;
          left: 0;
          position: absolute;
          content: '';
          width: 47px;
          display: inline-block;
          border-top: 1px solid #394829;
          height: 0;
        }

        &::after {
          top: .7em;
          left: 56px;
          position: absolute;
          content: '';
          width: 45px;
          display: inline-block;
          height: 1em;
          background: url(assets/minified/images/check-symbol.png) no-repeat;
        }
      }
    }

    h1 {
      text-align: center;
      max-width: 57rem;
      font-family: Yu Gothic;
      font-weight: 600;
      font-size: 1.8rem;
      line-height: 3.2rem;
      letter-spacing: 1.8px;
      color: #394829;
      padding-bottom: 0.7rem;
      margin: auto;
      margin-bottom: 3.6rem;
      border-bottom: 1px solid #394829;

      @include mq('md') {
        font-size: 1.6rem;
        letter-spacing: 1.6px;
        padding: 0.6rem 0 0.7rem;
        margin-bottom: 2.5rem;
      }
    }

    h2 {
      text-align: center;
      max-width: 57rem;
      font-family: Yu Gothic;
      font-weight: 600;
      font-size: 1.8rem;
      line-height: 3.2rem;
      letter-spacing: 1.8px;
      color: #394829;
      margin: auto;
      margin-bottom: 3.2rem;

      @include mq('md') {
        font-size: 1.6rem;
        line-height: 3.2rem;
        letter-spacing: 1.6px;
        margin: 2.5rem 0 1.5rem;
      }
    }

    h3 {
      text-align: center;
      max-width: 57rem;
      font-family: Yu Gothic;
      font-weight: 600;
      font-size: 1.8rem;
      line-height: 3.2rem;
      letter-spacing: 1.8px;
      color: #394829;
      margin: auto;
      margin-top: 7.5rem;
      margin-bottom: 2.4rem;

      @include mq('md') {
        margin-top: 4.3rem;
        margin-bottom: 1.6rem;
        font-size: 1.6rem;
        letter-spacing: 1.6px;
      }
    }
  }
}
