.p- {
  &three__feature {
    background: transparent linear-gradient(180deg, #5A6E2E 0%, #004B4B 100%) 0% 0% no-repeat padding-box;
    padding: 5rem 10rem;
    margin: 8rem 0 4rem;

    @include mq('md') {
      padding: 6rem 1.5rem 1rem;
    }

    &-title {
      text-align: center;
      font-size: 26px;
      font-weight: 500;
      letter-spacing: 2.6px;
      color: #F9FAF7;
      border-bottom: 1px solid #F9FAF7;
      padding: 15px 3rem;
      width: 500px;
      text-align: center;
      margin: 0 auto;

      @extend .p-mincho;

      @include mq('md') {
        font-size: 20px;
        letter-spacing: 2px;
        width: 100%;
        padding: 0 0 10px 0;
      }
    }

    &-item {
      @extend %container;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 4rem;
      border-bottom: 1px solid #F9FAF7;
      margin-top: 4rem;

      @include mq('xl') {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      @include mq('lg') {
        flex-wrap: wrap;
      }

      &--three {
        border: 0;
      }

      .feature-title {
        height: auto;

        @include mq('md') {
          width: 337px;
        }

        @include mq('xs') {
          width: 280px;
        }
      }

      &-text {
        text-align: left;
        font-size: 74px;
        font-weight: bold;
        letter-spacing: 2.22px;
        color: #F9FAF7;
        z-index: 2;
        align-self: center;
        line-height: 1;
        position: absolute;
        top: 112px;
        left: 0;

        @include mq('md') {
          font-size: 38px;
          letter-spacing: 1.4px;
          top: 60px;
        }
      }

      &-no {
        text-align: center;
        font-size: 183px;
        font-weight: bold;
        font-style: italic;
        letter-spacing: 18.3px;
        color: #F9FAF7;
        opacity: 0.2;
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;

        @include mq('md') {
          font-size: 95px;
          letter-spacing: 9.5px;
        }
      }

      &-content {
        font-size: 16px;
        font-weight: 500;
        color: #F9FAF7;
      }

      &-img {
        align-self: flex-end;
        width: 450px;
        height: auto;
        margin-left: 2rem;
        flex-shrink: 0;

        @include mq('lg') {
          order: 2;
          margin: 2rem 0;
        }

        @include mq('md') {
          width: 100%;
        }

        &-even {
          margin-right: 2rem;
          margin-left: 0;
        }
      }
    }
  }
}
