.p- {
  &upload {
    text-align: center;
    margin-top: 3rem;
    padding-top: 2.5rem;

    &__head {
      font-family: Source Han Serif;
      font-weight: 500;
      margin-bottom: 8.9rem;
      font-size: 2.6rem;
      line-height: 3.9rem;
      letter-spacing: 2.6px;
      color: #394829;

      @include mq('sm') {
        font-size: 2rem;
        line-height: 3.8rem;
        letter-spacing: 2px;
        color: #212121;
        margin-bottom: 2rem;
      }
    }

    &__text {
      text-align: left;
      font-weight: 500;
      font-size: 1.6rem;
      line-height: 3.2rem;
      letter-spacing: 1.6px;
      color: #394829;
    }

    #fileUpload {
      margin-top: 2rem;
    }
  }
}
