.c- {
  &finance {
    width: 100%;
    margin-top: 3.2rem;

    &__title {
      font-family: Source Han Serif;
      font-weight: 500;
      font-size: 2.6rem;
      line-height: 2.8rem;
      letter-spacing: 2.6px;
      color: #394829;
      margin: auto;

      @include mq('sm') {
        max-width: 20rem;
        font-size: 2rem;
        text-align: center;
        letter-spacing: 2px;
        line-height: 3.8rem;
        color: #212121;
      }

      &.top_page {
        font-family: Source Han Serif;
        font-weight: 500;
        font-size: 2.6rem;
        line-height: 3.9rem;
        letter-spacing: 2.6px;
        color: #394829;
        margin: auto;
        margin-top: 5px;

        @include mq('sm') {
          font-size: 2rem;
          line-height: 3.8rem;
          letter-spacing: 2px;
          width: 21rem;
          color: #212121;
          margin-top: 2.2rem;
        }
      }
    }

    &__tax {
      color: #0D5D4B;
      font-size: 1.6rem;
      font-family: Yu Gothic;
      font-weight: 500;
      line-height: 3.2rem;
      letter-spacing: 1.6px;

      &.top_page {
        margin-bottom: 1.7rem;

        @include mq('sm') {
          font-size: 1.3rem;
          line-height: 2.4rem;
          letter-spacing: 1.3px;
          margin: 0.4rem auto 1.7rem;
        }
      }
    }

    &__cost {
      color: #0D5D4B;
      font-size: 5.3rem;
      font-family: Source Han Serif;
      font-weight: 500;
      line-height: 11.5rem;
      letter-spacing: 5.2px;
      margin-left: 7.2rem;

      @include mq('sm') {
        font-size: 4rem;
        line-height: 6.2rem;
        letter-spacing: 4.7px;
        margin-left: 2rem;
      }

      &.top_page {
        line-height: 8.6rem;
        margin-left: 7.3rem;
      }
    }
  }
}
