@import '../helper/mixin';

// header
.l-header-container {
  position: relative;
}
.l-navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  background: rgba(249,250,247,0.9);
  box-shadow: 0px 2px 4px -2px;
  &__title {
    letter-spacing: 1.6px;
    color: #0D5D4B;
    font-size: 16px;
    font-weight: bold;
    margin-right: auto;
    @include mq('md') {
      font-size: 14px;
    }
    @include mq('xs') {
      font-size: 11px;
    }
  }

  .l-logo {
    width: 36px;
    height: 36px;
    margin: 0 14px 0 30px;
    @include mq('sm') {
      margin-left: 12px;
    }
  }

  ul {
    display: block;
    margin-right: 30px;
    transition: 100 ms ease all; 
    .l-close-hamburger {
      display: none;
    }
    @include mq('md') {
      position: fixed;
      overflow: hidden;
      top: 0;
      left: 0;
      padding: 0 30px;
      display: none;
      width: 100%;
      height: 100vh;
      padding: 30px 0;
      background: rgba(249,250,247,0.8);
      z-index: 900;
      margin-right: 0;
      box-sizing: border-box;
      .l-close-hamburger {
        display: block;
        width: 127px;
        height: 51px;
        margin-top: 6 0px;
        a {
          letter-spacing: 1.8px;
          font-size: 18px;
          font-weight: bold;
          i {
            margin-right: 5px;
          }
        }
      }

    }
    li{
      text-align: center;
      display: inline-block;
      margin: 0 10px;
      @include mq('md') {
        display: block;
        background: #687262;
        max-width: 353px;
        width: 90%;
        height: 51px;
        margin: 33px auto;
        text-align: center;
        line-height: 51px;
        border-radius: 5px;
      }
      a {
        text-decoration: none;
        color: #394829;
        letter-spacing: 1.6px;
        font-size: 16px;
        font-weight: bold;
        @include mq('md') {
          font-size: 14px;
          color: #F9FAF7;
        }
      }
    }
  }
  .l-hamburger {
    background: #EFF2ED;
    width: 67px;
    height: 70px;
    display: none;
    text-align: center;
    transition: all .3s ease;
    @include mq('md') {
      display: inline-block;
    }
    i {
      color: #394829;
      font-size: 30px;
    }
    img {
      width: 36px;
      height: 33px;
      margin: 8px 0 5px;
      transition: all .3s ease;
    }
    p {
      text-align: center;
      font-size: 10px;
      font-weight: 500;
      letter-spacing: 1px;
      color: #394829;
    }
    .menu-icon--rotate90 {
      transform: rotate(90deg);
    }
  }
  .l-hamburger--toggled {
    background: #F9FAF7;
  }
}
