@import 'header';
@import 'footer';

// main style body
body {
  background: #f9faf7;
}

.l-container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;

  &__fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
}
