@import 'header';
@import 'footer';

// main style body
body {
  background: #f9faf7;
}

.l-container {
  padding-right: 1.6rem;
  padding-left: 1.6rem;
  margin-right: auto;
  margin-left: auto;

  &__fluid {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
}
